* {
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

/***** Header Area *****/

.main-container {
  padding: 0;
}

.navbar {
  background-color: #ffff;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

.left-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left-bar img {
  width: 30px;
  align-self: center;
}
.search-bar {
  display: flex;
  background-color: #f3f3f3;
  padding: 10px 20px;
  border-radius: 20px;
  width: 200px;
  gap: 5px;
}
.search-bar img {
  width: 20px;
}
.search-bar input {
  border: transparent;
  background-color: transparent;
  outline: transparent;
}
/* 
.middle-bar {
  display: flex;
  align-items: center;
} */
.middle-bar img {
  width: 30px;
}

.middle-bar ul {
  list-style: none;
  display: flex;
  align-self: center;
  gap: 70px;
}
.right-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}
.right-bar span {
  background-color: #f3f3f3;
  padding: 8px 10px;
  border-radius: 50%;
}
.right-bar img {
  width: 30px;
}
.notification-point {
  background-color: red !important;
  color: #fff;
  position: absolute;
  top: 2px;
  right: 60px;
  padding: 5px !important;
  border-radius: 20px;
}
.parent-container {
  background-color: #f3f3f3;
  height: 100vh;
  width: auto;
}

.left-side {
}
.left-side img {
  width: 30px;
  display: flex;
  border-radius: 40px;
}
.left-side span {
  margin: 40px;
}
